
body {

background-color: lightgray;


}



/* Header */

.nav-left{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-left button {

color:white;
background-color:royalblue;
height:40px;
width: 95px;
border-radius: 5px;
font-weight:bold;
font-size: 15px;
border-color: black;
}

.nav-left a {

text-decoration: none;

}


.nav-left p {

margin-right: 15px;
font-weight:light;
font-size: 14px;

}



.logos {

display:flex;
justify-content: center;


}



.minilogos{

display: flex;
justify-content: center;

}


.intuitlogo{

width: 120px;
height:40px;
}

.mintlogo{

height:30px;
width:60px;
align-self: flex-end;

}


.turbotaxlogo{

  height:30px;
  width:60px;

}

.qblogo{

  height:30px;
  width:60px;
}



.form-container{


display: flex;
justify-content: center;


}
