a {

  text-decoration: none;

}

body {

background-color: #eceef1;

}
/* Header */
header {
  margin: 0 auto;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-left button {
    color: white;
    background-color: #0077c5;
    height: 38px;
    width: 97px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 0.89em;
    border-color: black;
    cursor: pointer;
    font-family: inherit;
}

.nav-left a {
   text-decoration: none;
}

.nav-left p {
   margin-right: 15px;
   font-weight: light;
   font-size: 14px;
}

.logos {
   display: flex;
   justify-content: center;
   margin-top: 15px;
   padding-bottom: 18px;
}

.minilogos {
   display: flex;
   justify-content: center;
   height: 29px;
   width: 73px;
   margin-bottom: 5px;
   margin-left: 80vh;
   align-items: center;
}

.minilogos div {
   display: flex;
   justify-content: center;
}

.intuitlogo {
    float: right;
    height: 30px;
    width: 82px;
}

.mintlogo {
    height: 34px;
    width: 93px;
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 25px;
    justify-content: center;
    flex-direction: row;
    align-self: center;
}

.turbotaxlogo {
    height: 31px;
    width: 106px;
    margin-left: 5px;
}

.qblogo {
    height: 34px;
    width: 132px;
    margin-left: 5px;
}

header.dummyclass > h2 + p {
    padding-top: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid #c7c7c7;
    width: 380px;
    min-height: 70vh;
    margin: auto;
    text-align: center;
    outline: none;
    height: 80%;
    margin-top: 20px;
    color: #4c4c4c;
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.form-container header {
    margin-bottom: auto;
    color: #4c4c4c;
    font-weight: 400;
    font-size: 14px;
}

.form-container h2 {
    font-weight: lighter;
    font-size: 25px;
}

form {
    margin-bottom: 50%;
}

.email-label {
    margin-right: 59%;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 28px;
    color: #404040;
    font-size: 15px;
}

.email-input {
    width: 310px;
    height: 34px;
    background-color: white;
    margin-top: 5px;
    margin-right: 21px;
    border-color: #c4c4c4;
    border-radius: 3px;
    border: solid 1px #c1c5c8;
    line-height: 1.3em;
    margin-left: 15px;
}

.phone-label {
    margin-right: 57%;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 27px;
    margin-left: 8%;
    color: #404040;
    font-size: 15px;
    line-height: 28px;
}

.phone-input {
     width: 310px;
     height: 34px;
     background-color: white;
     margin-top: 5px;
     margin-right: 21px;
     border-color: #c4c4c4;
     border-radius: 3px;
     border: solid 1px #c1c5c8;
     line-height: 1.3em;
     margin-left: 15px;
}

.second-input {
     margin-top: 29px;
}

.phone-paragraph {
    font-weight: lighter;
    font-size: 10px;
    loat: left;
    margin-left: 30px;
    padding-top: 7px;
}

.third-input {
    margin-top: 37px;  
}

.password-label {
    margin-right: 67%;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 27px;
    color: #404040;
    font-size: 15px;
}

input i {
    color: yellow;
}

.password-input {
  width: 310px;
  height: 34px;
  background-color: white;
  margin-top: 5px;
  margin-right: 21px;
  border-color: #c4c4c4;
  border-radius: 3px;
  border: solid 1px #c1c5c8;
  line-height: 1.3em;
  color: lightgray;
}

.createaccount {
  width: 317px;
  height: 45px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #167ccc;
  margin-right: 9px;
  color: white;
  font-size: 18px;
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: lighter;
}

.form-end {
  background-color: #eceef1;
  padding: 16px solid gray;
}

.legal {
  margin-top: 15px;
  color: #4c4c4c;  
  display: flex;
  justify-content: center;
}

.footertext {
  color: #4c4c4c;
  margin-top: -13px; 
  display: flex;
  justify-content: center;
}

.form-end p {
  font-size: 14px;
  font-weight: lighter;
  color: #4c4c4c;
  text-decoration: none; 
}

.password-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-right: 15px;
  justify-content: center;  
}

.password-input {
  margin-right: -55px;
}

.password-input:focus { 
  outline: none;
}

.lock-icon{
  border: none;
  outline: none;
  margin-left: 30px;
  align-items: left;
  color: lightgray;
}
