* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  background-color: #eceef1;
}

button {
  font-family:  Arial, sans-serif;
  background: #0077c5;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Header */
header {
  margin: 0 auto;
}

.nav-left{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
}

.nav-left button {
  color:white;
  height:40px;
  width: 95px;
  border-radius: 5px;
  font-weight:bold;
  font-size: 15px;
}

.nav-left a {
  text-decoration: none;
}

.nav-left p {
  margin-right: 15px;
  font-weight: 400;
  font-size: 14px;
}

.header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

header.header div.logos img {
  width: 160px;
}

.logos {
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid #c7c7c7;
  width: 380px;
  margin: 20px auto;
  text-align: center;
  color: #4c4c4c;
}

.form-container header {
  margin-bottom:auto;
  color: #4c4c4c;
  font-weight: 400;
  font-size: 14px;
}

.form-container h2 {
  font-weight: lighter;
  font-size: 25px;
  margin: 25px auto 10px;
}

form {
  margin-top: 25px;
}

.email-label {
  margin-right: 59%;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: 28px;
  color:#404040;
  font-size: 15px;
}


.email-input {
  width: 310px;
  height: 34px;
  background-color: white;
  margin-top: 5px;
  margin-right: 21px;
  border-color: #c4c4c4;
  border-radius: 3px;
  border: solid 1px #c1c5c8;
  line-height: 1.3em;
  margin-left: 15px;
}

.phone-label {
  margin-right: 57%;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: 27px;
  margin-left: 8%;
  color: #404040;
  font-size: 15px;
  line-height: 28px;
}


.phone-input {
  width: 310px;
  height: 34px;
  background-color: white;
  margin-top: 5px;
  margin-right: 21px;
  border-color: #c4c4c4;
  border-radius: 3px;
  border: solid 1px #c1c5c8;
  line-height: 1.3em;
  margin-left: 15px;
}

.second-input {
  margin-top: 29px;
}

.phone-paragraph {
  font-weight: lighter;
  font-size: 10px;
  float: left;
  margin-left: 30px;
  padding-top: 7px;
}

.third-input {
  margin-top: 26px;
}

.password-label { 
  margin-right: 67%;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: 27px;
  color: #404040;
  font-size: 15px;
}

input {
  padding-left: 10px;
}

input:focus {
  outline: none;
}

input i {
  color: yellow;
}

.password-input {
  width: 310px;
  height: 34px;
  background-color: white;
  margin-top: 5px;
  margin-right: 21px;
  border-color: #c4c4c4;
  border-radius: 3px;
  border: solid 1px #c1c5c8;
  line-height: 1.3em;
  color: lightgray;
}

.createaccount {
  width: 317px;
  height: 45px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #167ccc;
  margin-right: 9px;
  color: white;
  font-size: 18px;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: lighter;
}

.inline-paragraph {
  padding: 27px;
  font-style: italic;
}

.form-end {
  background-color: #eceef1;
  height: 40px;
}


.legal {
  margin-top: 15px;
  color: #4c4c4c;
}

footer {
  margin: 22px auto;
}

.footertext {
  color: #4c4c4c;
  margin-top: -13px;
}

.form-end p {
  font-size: 13px;
  font-weight:lighter;
  color:#4c4c4c;
  text-decoration: none;
  margin: 10px auto 0;
}


.password-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-right: 15px;
  justify-content: center;
}

.password-input {
  margin-right: -55px;
}

.lock-icon {
  border: none;
  outline: none;
  margin-left: 30px;
  color: lightgray;
}

.legal {
  display: flex;
  justify-content: center;
}

footer .legal a {
  color: #404040;
}

footer .legal a:hover {
  text-decoration: underline;
}

.footertext {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-right: 15px;
  justify-content: center;
}

a {
  color: #0077c5;
}
